.filter-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.filter-group {
    margin-bottom: 20px;

}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-group {
    display: flex;
    gap: 10px;
}

input, select {
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    border-color:grey;
    background-color: ghostwhite;
}

select {
    cursor: pointer;
}

.container {
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

