<div class="container">
    <br><br><br><br>
    <div class="row">
        <div class="col-4">
            
            <br><br><h2>Filtres</h2>   
            
            <p>Notes :</p>
            <input type="number" [(ngModel)]="minNote" placeholder="Note minimale" min="0" max="5" (change)="validateMinMaxValues()" (type)="validateMinMaxValues()">
            <input type="number" [(ngModel)]="maxNote" placeholder="Note maximale" min="0" max="5" (change)="validateMinMaxValues()" (type)="validateMinMaxValues()">
            <br><br>

            <p>Ville :</p>
            <input type="text" [(ngModel)]="villeRecherchee" placeholder="Rechercher par ville">
            <br><br>

            <p>Date de création :</p>
            <input type="date" [(ngModel)]="minDate" placeholder="Date minimale" (change)="validateMinMaxDate()" (type)="validateMinMaxDate()">
            <input type="date" [(ngModel)]="maxDate" placeholder="Date maximale" (change)="validateMinMaxDate()" (type)="validateMinMaxDate()">
        </div>
        
        <div class="col-8">
            <select [(ngModel)]="triDirection" (ngModelChange)="triParNote()">
                <option value="default">Par défault</option>
                <option value="croissant">Par note croissante</option>
                <option value="decroissant">Par note décroissante</option>
            </select>
            <app-restaurant *ngFor="let restaurant of restaurantArray | filter: minNote:maxNote | filterCity: villeRecherchee | filterDate: minDate:maxDate ; let i = index" [restaurant]="restaurant"></app-restaurant>
        </div>


    </div>
</div>