<br><br><br><br>
<h1 class="text-center">Mes réservations</h1>
<div class="reservations-container" *ngIf="client">
  <div *ngFor="let reservation of userReservations" class="reservation-item">
    <p><strong> Nom de la réservation : </strong>{{ reservation.name }}</p>
    <p><strong> Nom du restaurant : </strong>{{ reservation.restaurantName }}</p>
    <p><strong> Date de la réservation :</strong>  {{ reservation.date | date:'mediumDate' }}</p>
    <p><strong> Nombre de personnes :</strong> {{ reservation.nb_personnes }}</p>
  </div>
</div>

  
  
  