<br><br>
<div class="card" style="width: 18rem;">
    <div class="card-body text-center">
        <h5 class="card-title">Restaurant <br> {{restaurant.title}}</h5>
        
        <img src={{restaurant.img}} class="restaurant-image" alt="...">
        <br><br>
    <p class="card-text">{{restaurant.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Adresse : {{restaurant.adress}}</li>
    <li class="list-group-item">Date de création : {{restaurant.dateOfCreation}}</li>
    <li class="list-group-item">Note sur 5 : {{restaurant.note}}</li>
    <button type="button" class="btn btn-info" (click)="readMore()">Read More</button>

    </ul>
    </div>
    <br>  <br>

<p class="card-text"><small class="text-muted">Likes: {{restaurant.likes}}</small></p>
<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
<button type="button" class="btn btn-primary btn-sm" (click)="addLike()">Like</button>
<button type="button" class="btn btn-secondary btn-sm" (click)="removeLike()">Dislike</button>
</div>
<br><br>
