.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-card {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #808080;
    border-radius: 20px;
    padding: 1% 5% 1% 5%;
}

.restaurant-info {
    margin-top: 2%;
}

.delete-btn,
.update-btn {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #808080;
    border-radius: 5px;
}