<br><br><br><br><br>

<div class="row h-100 justify-content-center align-items-center">
<div class="card">
    <div class="row no-gutters" *ngIf="restaurant">
        <div class="col-md-4">
            <h3 class="card-title">{{restaurant.title}}</h3>        
            <img src={{restaurant.img}} class="restaurant-image" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="card-body text-center">
                    <br><br>
                <p class="card-text">{{restaurant.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Adresse : {{restaurant.adress}}</li>
                <li class="list-group-item">Date de création : {{restaurant.dateOfCreation}}</li>
                <li class="list-group-item">Note : {{restaurant.note}}/5</li>    
                <li class="list-group-item">Capacité : {{restaurant.capacite}} places</li>   
                <button type="button" class="btn btn-info btn-sm" *ngIf="client"  [disabled]="!client" (click)="openReservationForm()">Faire une réservation</button>

                <h3>Horaires d'ouvertures</h3>
                <table>
                  <tr *ngFor="let day of ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche']; let i = index">
                    <td>{{ day }}</td>
                    <td>{{ restaurant.horaires.getDay(i) }}</td>
                  </tr>
                </table>

                </ul>
            </div>
        </div>        
    </div>
</div>
</div>

