.restaurant-image {
    width: 300px; /* Set a fixed width */
    height: 225px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the specified dimensions */
    border-radius: 5px; /* Optionally add rounded corners */
  }

  .card {
    width: 60rem; /* Set a fixed width for the card */
    height: 400px; /* Set a fixed height for the card */
    /* Add any additional styling as needed */
  }

  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.section-title {
    font-size: 1.5em;
    color: #333;
}

.review-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.comment {
    font-size: 1em;
    color: #555;
}

.rating {
    font-size: 0.9em;
    color: #888;
}

.review-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submit-button {
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}




