<div class="container">
    <form class="formulaire">
        <h1 class="text-center">Enregistrer un restaurant</h1>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputName">Nom</label>
                <input type="text" class="form-control" id="inputName" placeholder="Nom">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCuisine">Type de cuisine</label>
                <input type="text" class="form-control" id="inputCuisine" placeholder="Type de cuisine">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Adresse</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">Ville</label>
                <input type="text" class="form-control" id="inputCity" placeholder="Ville">
            </div>
            <div class="form-group col-md-4">
                <label for="inputZip">Code postal</label>
                <input type="text" class="form-control" id="inputZip" placeholder="Code postal">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPhone">Numéro de téléphone</label>
            <input type="tel" class="form-control" id="inputPhone" placeholder="Numéro de téléphone">
        </div>
        <div class="form-group">
            <label for="inputHours">Horaires d'ouverture</label>
            <input type="text" class="form-control" id="inputHours" placeholder="Horaires d'ouverture">
        </div>
        <div class="form-group">
            <label for="inputMenu">Lien vers le menu</label>
            <input type="url" class="form-control" id="inputMenu" placeholder="Lien vers le menu">
        </div>
        <div class="form-group">
            <label for="inputImage">Ajouter une image</label>
            <input type="file" class="form-control-file" id="inputImage">
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>